@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/ ($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  .hero-background {
    position: absolute;
    z-index: -99;
    object-fit: cover;
    height: 100vh;
    width: 100%;
  }
  .hero-content {
    padding: 0 12vw;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    .hero-slogan {
      margin-top: 25vh;
      width: 100%;
      font-family: "Oswald";
      display: flex;
      flex-direction: column;
      gap: 40px;
      h1 {
        font-weight: 600;
        font-size: calcFluidFontSize(35, 52, 1200, 1920);
        width: 100%;
      }
      span {
        display: block;
        font-weight: 500;
        font-size: calcFluidFontSize(18, 30, 1000, 1920);
        width: 100%;
        color: #0091C9;
      }
    }
    .hero-button {
      display: flex;
      flex-direction: row;
      padding-left: 30px;
      padding-right: 6px;
      justify-content: end;
      width: 340px;
      height: 68px;
      border-radius: 98px;
      background: rgba(256, 256, 256, 0.5);
      margin-top: calcFluidFontSize(20, 50, 1000, 1920);
      backdrop-filter: blur(30px);
      border: 1px solid #fff;
      transition: all 1s;
      &:hover {
        transform: translateY(3px);
        background: rgba(256, 256, 256, 0.2);
        transition: all 0.3s;
      }
      a {
        display: flex;
        flex-direction: row;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 24px;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .hero-text-advantage {
    font-family: "Oswald";
    font-size: calcFluidFontSize(25, 40, 1200, 1920);
    font-weight: 400px;
    margin-top: calcFluidFontSize(50, 96, 1200, 1920);
    
  }
  .hero-advantage {
    width: 100%;
    height: calcFluidFontSize(90, 140, 1000, 1920);
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    gap: 27px;
    .advantage {
      width: calc(50% - 26px);
      height: 100%;
      border-radius: 20px;
      background: rgba(256, 256, 256, 0.4);
      font-family: "Oswald";
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      box-shadow: inset 0 0 1px rgb(256, 256, 256);
      box-shadow: inset 0 0 4px rgb(256, 256, 256);
      backdrop-filter: blur(25px);
      span {
        font-size: calcFluidFontSize(35, 52, 1200, 1920);
      }
    }
  }
  .woman-img {
    position: absolute;
    left: 57vw;
    bottom: 0;
    z-index: -10;
  }
}
@media (max-width: 1600px) {
  .woman-img {
    width: 550px;
    height: 800px;
  }
}
@media (max-width: 1200px) {
  .woman-img {
    height: 70vh;
    width: 700px;
    left: 40vw !important;
  }
  .hero {
    .hero-content {
      .hero-slogan {
        gap: 15px;
        h1 {
          font-size: 25px;
        }
        span {
          font-size: 20px;
        }
      }
      .hero-button {
        width: 230px;
        height: 45px;
        padding-right: 3px;
        a {
          font-size: 14px;
        }
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .hero {
    .hero-content {
      .hero-slogan {
        margin-top: 0;
      }
    }
  }
}
@media (max-width: 720px) {
  .hero {
    .hero-content {
      padding: 0 17px;
      .hero-slogan {
        margin-top: 50px;
      }
      .hero-button {
        width: 250px;
        height: 68px;
        a {
          font-size: 14px;
        }
        svg {
          width: 63px;
          height: 63px;
        }
      }
    }
    .hero-advantage {
      flex-direction: column;
      width: 100%;
      height: 45%;
      gap: 20px;
      margin-top: 70px;
      .advantage {
        width: 100%;
        height: 100px;
        span:first-child {
          font-size: 30px;
        }
        span:last-child {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .hero {
    .hero-content {
      padding: 0 17px;
      justify-content: start;
        .woman-img {
          height: 90vh;
          width: 800px;
          left: 34vw !important;
        }
      .hero-slogan {
        gap: 10px;
        margin-top: 110px;
        width: 100%;
        h1 {
          font-size: 20px;
        }
        span {
          font-size: 14px;
        }
      }
      .hero-button {
        margin-top: 35px;
        width: 67%;
        min-height: 60px;
        justify-content: space-between;
        a {
          font-size: calcFluidFontSize(11, 20, 340, 500);
          width: 100%;
        }
        svg {
        width: 55px;
        height: 55px;
        }
      }
    }
    .hero-text-advantage {
      font-size: 20px;
      width: 200px;
      margin-top: 40px;
    }
    .hero-advantage {
      flex-direction: column;
      width: 67%;
      height: 80px;
      gap: 15px;
      margin-top: 20px;
      .advantage {
        width: 100%;
        min-height: 80px;
        svg {
          width: 47px;
          height: 38px;
        }
        span:first-child {
          font-size: 30px;
        }
        span:last-child {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 380px) {
  .hero {
    .hero-content {
      .hero-button {
        margin-top: 25px;
      }
    }
    .hero-advantage {
      margin-top: 30px;
    }
  }
}
